/.pybuild
/build/
/dist/
/venv/
/src/*.dist-info
*.egg-info
.mypy_cache
*.pyc

/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/python3-apc-temp-fetch.*
/debian/python3-apc-temp-fetch/
